body{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    border: none;
    font-size: large;
}

.img_trevo{
    width: 100px;
}

.principal{
   background-color: rgb(224, 215, 46);
   width: 100vw;
   height: 100vh;
   display: flex;
   justify-content: center; 
   align-items: center;
   flex-direction: column;
   text-transform: uppercase;
}

.sub_titulo{
    color:rgb(30, 10, 48);
    
}

#list_jogos{
    display: flex;
    align-self: center;
    margin-top: 15px;
}

#lista_item,a{
    padding: 15px;
    color: rgb(25, 122, 179);
}

.material-symbols-outlined.md-36{   
    font-size: 36px;
    background-color: blueviolet;
}


/*responsivos*/

@media screen and (max-width: 415px) {
    body{
        font-size: medium;
    }
    .lista_jogos{
        font-size: larger;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    .principal{
        display: flex;
        justify-content: cente;
        text-align: center;
    }
    
}